In [747]:
import os
import pandas as pd

In [749]:
path = os.path.join('Resources', 'purchase_data.csv')
df = pd.read_csv(path)

## Player Count

In [577]:
df = df.dropna()
df_players_summary = pd.DataFrame({
    'Total Players': [len(df['SN'].unique())]
})
df_players_summary

   Total Players
0            576

## Purchasing Analysis (Total)

In [752]:
purchasing_summary = pd.DataFrame({
    'Number of Unique Items': [len(df['Item ID'].unique())],
    'Average Price': (df['Price'].mean()).round(2),
    'Number of Purchases': len(df['Purchase ID'].unique()),
    'Total Revenue': df['Price'].sum()
})

purchasing_summary['Average Price'] = purchasing_summary['Average Price'].map("${:,.2f}".format)
purchasing_summary['Total Revenue'] = purchasing_summary['Total Revenue'].map("${:,.2f}".format)

purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [755]:
total_count = df['Gender'].value_counts()

df_gender_ratio = pd.DataFrame({
    'Total Count': total_count,
    'Percentage of Players': (total_count/total_count.sum()*100).round(2).astype(str) + '%'
})
df_gender_ratio

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

In [756]:
purchasing_gender_summary = pd.DataFrame({
    'Purchase Count': df['Gender'].value_counts(),
    'Average Purchase Price': df.groupby('Gender')['Price'].mean().round(2),
    'Total Purchase Value': df.groupby('Gender')['Price'].sum(),
    'Avg Total Purchase per Person': (df.groupby('Gender')['Price'].sum()/df['Gender'].value_counts()).round(2)
})
purchasing_gender_summary['Average Purchase Price'] = purchasing_gender_summary['Average Purchase Price'].map("${:,.2f}".format)
purchasing_gender_summary['Total Purchase Value'] = purchasing_gender_summary['Total Purchase Value'].map("${:,.2f}".format)
purchasing_gender_summary['Avg Total Purchase per Person'] = purchasing_gender_summary['Avg Total Purchase per Person'].map("${:,.2f}".format)

purchasing_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

In [757]:
age_group = pd.cut(
    df['Age'],
    bins = [0, 10, 15, 20, 25, 30, 35, 40, 46],
    labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    right = False
)

age_summary = pd.DataFrame({
    'Total Count': age_group.value_counts().sort_index(),
#     'Total Count': age_group.value_counts().sort_index(),
    'Percentage of Players': (age_group.value_counts() / total_count.sum()*100).round(2).astype(str) + '%'
})

age_summary

       Total Count Percentage of Players
<10             23                 2.95%
10-14           28                 3.59%
15-19          136                17.44%
20-24          365                46.79%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
40+             13                 1.67%

## Purchasing Analysis (Age)

In [775]:
age_group = pd.cut(
    df['Age'],
    bins = [0, 10, 15, 20, 25, 30, 35, 40, 46],
    labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    right = False
)

age_df = df.assign(Age_Ranges=age_group)
grouped_age_df = age_df.groupby('Age_Ranges')['Price']

age_purchase_summary = pd.DataFrame({
    'Age Ranges': age_purchase_df.index,
    'Purchase Count': grouped_age_df.count(),
    'Average Purchase Price': grouped_age_df.mean().round(2),
    'Total Purchase Value': grouped_age_df.sum(),
    'Avg Total Purchase per Person': (grouped_age_df.sum()/age_group.value_counts()).round(2)
})

formatted_summary = age_purchase_summary.set_index('Age Ranges')
formatted_summary['Average Purchase Price'] = formatted_summary['Average Purchase Price'].map("${:,.2f}".format)
formatted_summary['Total Purchase Value'] = formatted_summary['Total Purchase Value'].map("${:,.2f}".format)
formatted_summary['Avg Total Purchase per Person'] = formatted_summary['Avg Total Purchase per Person'].map("${:,.2f}".format)

formatted_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

In [759]:
spenders_df = df[['SN','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
top_spenders_df = spenders_df.groupby(['SN'])['Price']

spenders_summary = pd.DataFrame({
    'Purchase Count': top_spenders_df.count(),
    'Average Purchase Price': (top_spenders_df.mean()).round(2),
    'Total Purchase Value':top_spenders_df.sum()
})

spenders_df = spenders_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)
spenders_df['Average Purchase Price'] = spenders_df['Average Purchase Price'].map("${:,.2f}".format)
spenders_df['Total Purchase Value'] = spenders_df['Total Purchase Value'].map("${:,.2f}".format)

spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [760]:
items_df = df[['Item ID','Item Name','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
popular_items_df = items_df.groupby(['Item ID', 'Item Name'])['Price']

popular_item_summary = pd.DataFrame({
    'Purchase Count': popular_items_df.count(),
    'Item Price': popular_items_df.mean(),
    'Total Purchase Value': popular_items_df.sum()
})

formatted_df = popular_item_summary.sort_values(by='Purchase Count', ascending=False).head(5)
formatted_df['Item Price'] = formatted_df['Item Price'].map("${:,.2f}".format)
formatted_df['Total Purchase Value'] = formatted_df['Total Purchase Value'].map("${:,.2f}".format)

formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [761]:
profitable_df = popular_item_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)

profitable_df['Item Price'] = profitable_df['Item Price'].map("${:,.2f}".format)
profitable_df['Total Purchase Value'] = profitable_df['Total Purchase Value'].map("${:,.2f}".format)

profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

# Analysis Summary

### 1st observable trend

The analysis on Gender Demographics presents that the majority of the game players are male, the percentage up to 84%. 
It is believed this finding is valuable for marketing department to target potential consumers.

### 2nd observable trend

Furthermore, the Age Demographics determines that almost a half of players are between 20 and 24 year old, about 45% of all the players. 
Obviously, a big amount of 5 year younger or older people, individually 18% and 13%, like playing this game as well.

### 3rd observable trend

Analysis on the popularity of the game items indicates that the most popular item is "Oathbreaker, Last Hope of the Breaking Storm' which has been purchased the most. Followings are the items named "Fiery Glass Crusader", "Extraction, Quickblade Of Trembling Hands", "Nirvana", and "Pursuit, Cudgel of Necromancy". This finding makes a significant contribution to the game design department by implying player's favors.