In [1]:
import os
import pandas as pd

In [2]:
path = os.path.join('Resources', 'purchase_data.csv')
df = pd.read_csv(path)

## Player Count

In [3]:
df = df.dropna()
df_players_summary = pd.DataFrame({
    'Total Players': [len(df['SN'].unique())]
})
df_players_summary

   Total Players
0            576

## Purchasing Analysis (Total)

In [4]:
df_purchasing_summary = pd.DataFrame({
    'Number of Unique Items': [len(df['Item ID'].unique())],
    'Average Price': (df['Price'].mean()).round(2),
    'Number of Purchases': len(df['Purchase ID'].unique()),
    'Total Revenue': [df['Price'].sum()]
})

df['Price'].map("${:,.2f}".format)
# df_purchasing_summary = df_purchasing_summary['Total Revenue'].map("\${:,.2f}".format)
# df_purchasing_summary

0      $3.53
1      $1.56
2      $4.88
3      $3.27
4      $1.44
       ...
775    $3.54
776    $1.63
777    $3.46
778    $4.19
779    $4.60
Name: Price, Length: 780, dtype: object

## Gender Demographics

In [5]:
total_count = df['Gender'].value_counts()

df_gender_ratio = pd.DataFrame({
    'Total Count': total_count,
    'Percentage of Players': (total_count/total_count.sum()*100).round(2)
})
df_gender_ratio

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

In [6]:
purchasing_summary = pd.DataFrame({
    'Purchase Count': df['Gender'].value_counts(),
    'Average Purchase Price': df.groupby('Gender')['Price'].mean().round(2),
    'Total Purchase Value': df.groupby('Gender')['Price'].sum(),
    'Avg Total Purchase per Person': (df.groupby('Gender')['Price'].sum()/df['Gender'].value_counts()).round(2)
})
purchasing_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

In [9]:
age_group = pd.cut(
    df['Age'],
    bins = [0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    right = False
)

age_summary = pd.DataFrame({
    'Total Count': age_group.value_counts().sort_index(),
    'Percentage of Players': (age_group.value_counts() / total_count.sum()*100).round(2)
})
age_summary

       Total Count  Percentage of Players
<10             23                   2.95
10-14           28                   3.59
15-19          136                  17.44
20-24          365                  46.79
25-29          101                  12.95
30-34           73                   9.36
35-39           41                   5.26
40+             13                   1.67

## Purchasing Analysis (Age)

In [8]:
age_group = pd.cut(
    df['Age'],
    bins = [0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    right = False
)

age_df = df.assign(Age_Ranges=age_group)
grouped_age_df = age_df.groupby('Age_Ranges')['Price']

age_purchase_summary = pd.DataFrame({
    'Age Ranges': age_purchase_df.index,
    'Purchase Count': age_group.value_counts().sort_index(),
    'Average Purchase Price': grouped_age_df.mean().round(2),
    'Total Purchase Value': grouped_age_df.sum(),
    'Avg Total Purchase per Person': (grouped_age_df.sum()/age_group.value_counts()).round(2)
})
age_purchase_summary.set_index('Age Ranges')

NameError: name 'age_purchase_df' is not defined

## Top Spenders

In [ ]:
spenders_df = df[['SN','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
top_spenders_df = spenders_df.groupby(['SN'])['Price']
top_spenders_df
spenders_summary = pd.DataFrame({
    'Purchase Count': top_spenders_df.count(),
    'Average Purchase Price': (top_spenders_df.mean()).round(2),
    'Total Purchase Value':top_spenders_df.sum()
})
spenders_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)

## Most Popular Items

In [ ]:
items_df = df[['Item ID','Item Name','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
popular_items_df = items_df.groupby(['Item ID', 'Item Name'])['Price']

popular_item_summary = pd.DataFrame({
    'Purchase Count': popular_items_df.count(),
    'Item Price': popular_items_df.mean(),
    'Total Purchase Value': popular_items_df.sum()
})
popular_item_summary.sort_values(by='Purchase Count', ascending=False).head(5)

## Most Profitable Items

In [ ]:
popular_item_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)