In [2]:
import os
import pandas as pd

In [4]:
path = os.path.join("Resources", "Pokemon.csv")
df = pd.read_csv(path)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
# Create a new table by extracting the following columns: Type 1, HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed
df[["Type 1", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]

      Type 1  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0      Grass  45      49       49       65       65     45
1      Grass  60      62       63       80       80     60
2      Grass  80      82       83      100      100     80
3      Grass  80     100      123      122      120     80
4       Fire  39      52       43       60       50     65
..       ...  ..     ...      ...      ...      ...    ...
795     Rock  50     100      150      100      150     50
796     Rock  50     160      110      160      110    110
797  Psychic  80     110       60      150      130     70
798  Psychic  80     160       60      170      130     80
799     Fire  80     110      120      130       90     70

[800 rows x 7 columns]

In [18]:
# Find the average stats for each `type` of Pokemon
df.groupby("Type 1").mean()
# sum each values of Type 1
df.groupby("Type 1").sum()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,23080,26146,3925,4897,4880,3717,4471,4256,222,0.0
Dark,14302,13818,2071,2740,2177,2314,2155,2361,125,2.0
Dragon,15180,17617,2666,3588,2764,3099,2843,2657,124,12.0
Electric,15994,19510,2631,3040,2917,3961,3243,3718,144,4.0
Fairy,7642,7024,1260,1046,1117,1335,1440,826,70,1.0
Fighting,9824,11244,1886,2613,1780,1434,1747,1784,91,0.0
Fire,17025,23820,3635,4408,3524,4627,3755,3871,167,5.0
Flying,2711,1940,283,315,265,377,290,410,22,2.0
Ghost,15568,14066,2062,2361,2598,2539,2447,2059,134,2.0
Grass,24141,29480,4709,5125,4956,5425,4930,4335,235,3.0
Ground,11401,14000,2361,3064,2715,1807,2008,2045,101,4.0
Ice,10165,10403,1728,1746,1714,1861,1831,1523,85,2.0
Normal,31279,39365,7573,7200,5865,5470,6245,7012,299,2.0
Poison,7050,11176,1883,2091,1927,1692,1803,1780,71,0.0
Psychic,21706,27129,4026,4073,3858,5609,4918,4645,193,14.0
Rock,17280,19965,2876,4086,4435,2787,3321,2460,152,4.0
Steel,11957,13168,1761,2503,3412,1823,2177,1492,104,4.0
Water,33946,48211,8071,8305,8170,8379,7898,7388,320,4.0

In [17]:
# sum each row values
df.groupby("Type 1").sum().sum()
# df.groupby("Type 1", "Type 2").sum().sum()

#             290251.0
Total         348082.0
HP             55407.0
Attack         63201.0
Defense        59074.0
Sp. Atk        58256.0
Sp. Def        57522.0
Speed          54622.0
Generation      2659.0
Legendary         65.0
dtype: float64